@model IEnumerable<TerrainBuilder.Models.TerrainViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OffsetX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OffsetY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Octaves)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Influence)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OffsetX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OffsetY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Octaves)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Influence)
            </td>
            <td>
                 <a href="/terrain/generateterrain/?l=@item.Length&w=@item.Width&offX=@item.OffsetX&offY=@item.OffsetY&oct=@item.Octaves&inf=@item.Influence">Generate View</a>   
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
